In [1]:
import pandas as pd
import numpy as np

In [2]:
#frame = pd.read_csv(r'ausleihe2.csv')
frame = pd.read_csv(r'ausleihe2.csv')
df = pd.DataFrame(frame)
#col = list(df.columns.values)

#test = pd.DataFrame(df)

df.head()

df.shape

(125537, 4)

In [3]:
#get weather data
wframe = pd.read_csv(r'weather.csv')
#weather = pd.DataFrame(wframe, columns=['year','week','tempC','sunHour','preciMM','FeelsLikeC', 'humidity'])
weather = pd.DataFrame(wframe)
weather.head()
weather.shape

(243, 7)

In [4]:
df_neu = pd.merge(df,weather,on=['year','week'],how='left')
print(df[df.index.duplicated()])
df_neu.head()

Empty DataFrame
Columns: [year, week, station1, count]
Index: []

,year,week,station1,count,tempC,sunHour,precipMM,FeelsLikeC,humidity
0,2017,37,1 Ave & E 110 St,64,27.857143,10.857143,4.600000,24.857143,64.571429
1,2017,38,1 Ave & E 110 St,134,27.857143,10.028571,0.942857,25.142857,64.142857
2,2017,39,1 Ave & E 110 St,166,25.428571,11.600000,1.828571,22.571429,61.142857
3,2017,40,1 Ave & E 110 St,179,25.000000,10.971429,2.614286,22.714286,64.000000
4,2017,41,1 Ave & E 110 St,174,22.428571,8.971429,4.328571,20.285714,72.714286

In [5]:
df_neu2 = df_neu.sort_values(by=['year','week'])

In [47]:
df_neu2.to_csv('ausleihen_mit_wetter.csv', index=False)

In [48]:
df_neu.shape

(125537, 9)

In [29]:
df_neu.head()

,year,week,station1,count,tempC,sunHour,precipMM,FeelsLikeC,humidity
0,2017,37,1 Ave & E 110 St,64,27.857143,10.857143,4.600000,24.857143,64.571429
1,2017,38,1 Ave & E 110 St,134,27.857143,10.028571,0.942857,25.142857,64.142857
2,2017,39,1 Ave & E 110 St,166,25.428571,11.600000,1.828571,22.571429,61.142857
3,2017,40,1 Ave & E 110 St,179,25.000000,10.971429,2.614286,22.714286,64.000000
4,2017,41,1 Ave & E 110 St,174,22.428571,8.971429,4.328571,20.285714,72.714286

In [6]:
stationnamesframe =   df.drop_duplicates() 
stationnamesframe = pd.DataFrame(stationnamesframe,columns=['station1'])
stationnamesframe =   stationnamesframe.drop_duplicates() 
stationnames =  pd.DataFrame(stationnamesframe , columns=['station1'])['station1'].to_numpy().tolist()
print(len(stationnames))

692

In [8]:
stationnamesframe =   df_neu.drop_duplicates() 
stationnamesframe = pd.DataFrame(stationnamesframe,columns=['station1'])
stationnamesframe =   stationnamesframe.drop_duplicates() 
stationnames =  pd.DataFrame(stationnamesframe , columns=['station1'])['station1'].to_numpy().tolist()
print(len(stationnames))

692