In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [17]:
#frame = pd.read_csv(r'ausleihe2.csv')
frame = pd.read_csv(r'ausleihen_mit_wetter.csv')
df = pd.DataFrame(frame)
col = list(df.columns.values)

test = pd.DataFrame(frame)

df.head()

,year,week,station1,count,tempC,sunHour,precipMM,FeelsLikeC,humidity
0,2015,1,1 Ave & E 18 St,119,6.0,6.525,6.45,-1.25,71.0
1,2015,1,1 Ave & E 30 St,147,6.0,6.525,6.45,-1.25,71.0
2,2015,1,1 Ave & E 44 St,73,6.0,6.525,6.45,-1.25,71.0
3,2015,1,11 Ave & W 27 St,73,6.0,6.525,6.45,-1.25,71.0
4,2015,1,11 Ave & W 41 St,133,6.0,6.525,6.45,-1.25,71.0

In [18]:
def getLastweek(year,week,station,distance):
    
    if week-distance < 1:
        weekanzahl = 53+(week-distance-1)
        yearanzahl = year-1
    else:    
        weekanzahl = week-distance
        yearanzahl = year
    value = df[(df['year'] == yearanzahl) & (df['week']== weekanzahl) &  (df['station1']== station)]
    if value['count'].empty == False:
        return value['count'].values[0]
    return math.nan

In [19]:
def getWeek1(data):
    #print(data)
    return getLastweek(data['year'],data['week'],data['station1'],1)

In [20]:
local = df.copy()
# The apply method calls a function on each row
local['week1anzahl'] = local.apply(getWeek1,axis=1)

In [ ]:
local.sort_values(by=['station1','year','week'])

In [21]:
local = local.fillna(0)

In [22]:
df.shape , local.shape

((125537, 9), (125537, 10))

In [23]:
local.head()

,year,week,station1,count,tempC,sunHour,precipMM,FeelsLikeC,humidity,week1anzahl
0,2015,1,1 Ave & E 18 St,119,6.0,6.525,6.45,-1.25,71.0,0.0
1,2015,1,1 Ave & E 30 St,147,6.0,6.525,6.45,-1.25,71.0,0.0
2,2015,1,1 Ave & E 44 St,73,6.0,6.525,6.45,-1.25,71.0,0.0
3,2015,1,11 Ave & W 27 St,73,6.0,6.525,6.45,-1.25,71.0,0.0
4,2015,1,11 Ave & W 41 St,133,6.0,6.525,6.45,-1.25,71.0,0.0

In [25]:
local.to_csv('ausleihen_wetter_vorwoche.csv', index=False)